.unset-center{
    text-align:center !important;
    padding: 0px;
    padding-left: 0;
    padding-right: 0;
}

.switches{
    display:inline-table;
    .form-switch{
        .form-check-input{
            width: 3rem;
            height: 2rem;    
        }
        display: flex; /* Utilizamos flexbox */
        align-items: center; /* Centramos verticalmente */
        justify-content: center; /* Centramos horizontalmente */    
    }
}

.alarm{
    align-items: center;
    justify-content: center;
    svg{
        width: 50px;
        height: auto; 
        color:red;
    }

    .alarm-icon{
        width: 100%; /* Ancho del SVG al 100% del contenedor */
        height: 100%; /* Altura del SVG al 100% del contenedor */
        opacity: 0; /* Inicialmente oculto */
        transition: opacity 0.5s ease; /* Transición suave de opacidad */
    }
      
    .on {
        opacity: 1 !important; /* Mostrar el SVG */
    }
}